# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Exclude terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude terraform variable files
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore backend configuration
backend.tf
backend.tf.json

# Keep app directory tracked
!app/